<div class="row">
  <div class="col-6 col-sm-4 col-lg-3">
    <mat-card class="dash-card">
      <mat-icon>check</mat-icon>
      <div class="dash-card-data">
        <h2>95.43%</h2>
        <p class="Panel-inact-2">Presición</p>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-sm-4 col-lg-3">
    <mat-card class="dash-card">
      <mat-icon>tune</mat-icon>
      <div class="dash-card-data">
        <h2>0.857%</h2>
        <p class="Panel-inact-2">Variación</p>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-sm-4 col-lg-3">
    <mat-card class="dash-card">
      <mat-icon>access_time</mat-icon>
      <div class="dash-card-data">
        <h2>20:00</h2>
        <p class="Panel-inact-2">Última act.</p>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-sm-4 col-lg-3">
    <mat-card class="dash-card">
      <mat-icon>tablet_mac</mat-icon>
      <div class="dash-card-data">
        <h2>227</h2>
        <p class="Panel-inact-2">Act. hoy</p>
      </div>
    </mat-card>
  </div>
</div>
