// theme.scss
@import '~@angular/material/theming';

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #f7f3eb,
  100 : #ece1cc,
  200 : #dfcdaa,
  300 : #d2b888,
  400 : #c9a96f,
  500 : #bf9a55,
  600 : #b9924e,
  700 : #b18844,
  800 : #a97e3b,
  900 : #9b6c2a,
  A100 : #fff1de,
  A200 : #ffdaab,
  A400 : #ffc478,
  A700 : #ffb95e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #f0ede6,
  100 : #dad1c0,
  200 : #c1b397,
  300 : #a8956d,
  400 : #957e4d,
  500 : #82672e,
  600 : #7a5f29,
  700 : #6f5423,
  800 : #654a1d,
  900 : #523912,
  A100 : #ffcd8b,
  A200 : #ffb758,
  A400 : #ffa125,
  A700 : #ff960c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
        50 : #ffe8e0,
        100 : #ffc5b3,
        200 : #ff9f80,
        300 : #ff784d,
        400 : #ff5b26,
        500 : #ff3e00,
        600 : #ff3800,
        700 : #ff3000,
        800 : #ff2800,
        900 : #ff1b00,
        A100 : #ffffff,
        A200 : #fff3f2,
        A400 : #ffc3bf,
        A700 : #ffaba6,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
$md-white: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$my-theme-primary: mat-palette($md-primary);
$my-theme-accent : mat-palette($md-accent);
$my-theme-warn   : mat-palette($md-warn);
$my-theme-white   : mat-palette($md-white);
$my-theme: mat-light-theme(
                $my-theme-primary,
                $my-theme-accent,
                $my-theme-warn
);
