<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [class.example-is-mobile]="mobileQuery.matches">
  <div id="whiteToolbar">
    <div id="toolbarContainer">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSide()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
  </div>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" role="navigation" [fixedInViewport]="mobileQuery.matches" fixedTopGap="0">
      <div id="sideLogoContainer">
        <img src="../../assets/img/logos/brown_logo.png" alt="">
      </div>
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li *ngFor="let menu of menu.menu" (click)="toggle()">
            <a routerLinkActive="active" [routerLink]="[ menu.url ]" aria-expanded="false" style="padding-right:0px;" matRipple>
              <i class="material-icons">{{menu.icon}}</i>
              <span class="hide-menu">{{menu.title}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="pagesWrapper">
        <div id="pagesPadding">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
